@import "reset.scss";

$accent-color: #1abc9c;

html, body {
    font-family: Georgia, serif;
    font-size: 12px;
    color: #2d3436;
    background: #f1f2f6;
}

#main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

header {
    font-size: 5rem;
    margin: 2rem 0 5rem 0;
}

a, a:visited {
    text-decoration: none;
    color: #2980b9;
}

.post {
    margin-bottom: 5rem;
}

h1, .h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}

h1.category {
    text-align: center;
    margin-bottom: 5rem;
}

h1 a, h1 a:visited, .h1 a, .h1 a:visited {
    text-decoration: none;
    color: #2d3436;
}

h3, .h3 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 3rem 0 2rem 0;
    border-bottom: 1px dashed;
    padding-bottom: 10px;
}

p, ul, ol, pre code {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 2rem 0;
    letter-spacing: .04rem;
}

ul, ol {
    margin-left: 2rem;
}

ul li, ol li {
    list-style-position: outside;
    padding-left: .25rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

p .meta {
    padding-left: 10px;
}

strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

code {
    padding: .2rem .4rem;
    color: #191919;
    background: $accent-color;
    border-radius: 2px;
}

pre code {
    display: block;
    border-radius: 2px;
    background-color: #fff;
    font-size: 1rem;
    padding: 1rem;
    border: solid 1px #bdc3c7;
}

blockquote {
    padding: 1rem 0 1rem 2rem;
    margin-left: .25rem;
    border-left: solid 2px $accent-color;
}

blockquote ul, blockquote ol {
    margin: 0;
}

hr {
    margin: 5rem 0;
    border: solid 1px #7f8c8d;
}

footer {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
