html { font-family: Verdana, Geneva, sans-serif; background: #191919; font-size: 14px; letter-spacing: 1px; height: 100%; }
body { background: #191919; color: #E0E0E0; height: 100%; }

a, a:visited { color: #3380CC; text-decoration: none; }

h2, h2 a, h2 a:visited { letter-spacing: 1px; font-size: 30px; line-height: 42px; color: White; font-family: PT Sans; margin-bottom: 25px !important; }
h3 {  font-family: PT Sans; font-size: 20px; line-height: 23px; border-bottom: 1px solid #E0E0E0 !important; }
h5 { letter-spacing: 1px; text-transform: uppercase; font-size: 22px; color: White; margin-top: 35px !important; padding-bottom: 10px !important; margin-bottom: 20px !important; border-bottom: 1px dashed White !important; font-family: PT Sans; }
p { line-height: 28px; margin: 15px 0 !important; }
em { font-style: italic; }
strong, b { font-weight: bold; }

ul { margin: 1em 0px !important; }
ul li {list-style-type: disc !important; margin-left: 40px; line-height: 28px; }

ol { margin: 1em 0px !important; }
ol li {list-style-type: decimal !important; margin-left: 40px; line-height: 28px; }

blockquote { border: 1px solid #cccccc; padding-left: 10px !important; margin-left: 20px !important; border-left: 2px solid White !important; }

/* LAYOUT 
----------------------------------------------------------*/
.header { padding-top: 25px; padding-bottom: 25px; height: 59px; }
.header > input { width: 100%; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Share Tech Mono', sans-serif; font-size: 48px; background: #191919; border: 0; color: White; outline-width: 0; text-align: right; padding: 5px; letter-spacing: 5px; margin-right: 13px; }
.header > input::-ms-clear { display: none; }
.header > a { position: absolute; width: 26px; height: 26px; top: 46px; left: 15px; background: url('images/h-sprite.png') 0 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.header > a:hover { background: url('images/h-sprite.png') 0 -26px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#footer-wrapper { background-color: #333; margin-top: 50px; }
#foot { margin-top: 25px; padding-top: 20px; padding-bottom: 15px; font-size: 12px; }
#foot .first div { padding-left: 25px; }
#foot .last div { padding-right: 25px; }
#foot ul { padding-top: 15px !important; padding-bottom: 15px !important; margin: 0px !important; }
#foot li { padding: 5px 0px 5px 0px !important; line-height: 12px; }
#foot a { color: White; border-bottom: dotted 1px White; }
#signature { font-size: 11px; padding-bottom: 15px; }
#signature .last div { padding-right: 25px; line-height: 28px; }
#signature .last div img { float: right; margin-left: 10px; }

.post
{
}

.post p 
{
}

/* MISC
----------------------------------------------------------*/
.highlighter { border: 1px dashed White; text-align: center; padding: 35px 0 35px 0; margin-top: 25px !important; }
.highlighter a { background-color: #EA7E1E; padding: 15px; color: White; font-size: 16px; }

/* INFO 
----------------------------------------------------------*/
.info { padding-top: 50px; font-size: 12px; }
.info p { border-left: 1px solid #E0E0E0; padding-left: 15px; z-index: 5 !important; position: relative; }

.info-title { display: none; text-transform: uppercase; }

/* SYNTAX HIGHLIGHTER  
----------------------------------------------------------*/
.highlight { letter-spacing: 0px; background-color: White; position: relative; z-index: 999 !important; overflow-x: scroll !important; }
.highlight ol { padding-left: 15px !important; }
.highlight ol li { line-height: 16px !important; white-space:nowrap !important; word-wrap: normal !important; }

/* Styles for editor and display helpers
----------------------------------------------------------*/

fieldset { padding-top: 10px;  }

.editor-field { letter-spacing: 1px; }
.editor-field-disabled { border: 1px dashed #CCC; font-size: 16px; margin: .5em 0; padding: 5px;  }
.editor-field select { border: 1px solid #CCC; font-size: 16px; padding: 10px; width: 300px; letter-spacing: 1px;  }
.editor-field textarea { width: 100%; height: 400px; border: 1px solid #CCC; }

.display-label, .editor-label { font-family: "PT Sans"; text-transform: uppercase; padding-top: 10px;  }
.display-field, .editor-field input { border: 1px solid #888; font-size: 16px; padding: 10px; letter-spacing: 1px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.editor-field textarea { border: 1px solid #888; font-size: 16px; width: 100%; height: 200px; padding: 10px; letter-spacing: 1px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.display-label, .display-field, .editor-label, .editor-field, .slug-field { margin: .5em 0; }

.field-validation-error { display: block; margin-top: 20px; color: #FF1A1A; }
.validation-summary-errors { color: #ff1a1a; }
.validation-summary-errors ul { color: #FF1A1A !important; }

.editor-body-special { display: none; }

.submit { margin-top: 15px;  }

/* COMMENTS 
----------------------------------------------------------*/
#comment-spacer { border-top: solid 1px White; margin-top: 15px; }
#comment-create { margin-top: 50px !important; }
#comment-first { padding-top: 20px !important; margin-bottom: -10px; }
.comment-name {   }
.comment-text { padding: 10px; border: solid 1px White; margin-top: 10px; margin-bottom: 10px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
.comment-text.comment-user { border: solid 1px #F57A00; }
.comment-date { font-size: 12px; font-weight: normal; margin-bottom: 10px; }

/* BUTTONS
----------------------------------------------------------*/
.buttons { font-family: "PT Sans"; text-transform: uppercase; }
.buttons.positive { padding: 5px 10px; background-color: #4687AD; border: 1px solid #dedede; border-top: 1px solid #eee; border-left: 1px solid #eee; font-size: 18px; color: #333333; cursor: pointer; }
.buttons.positive:hover { background-color: #F57A00; }
.buttons.negative { padding: 5px 10px; background-color: #D54E21; border: 1px solid #dedede; border-top: 1px solid #eee; border-left: 1px solid #eee; font-size: 18px; color: #333333; cursor: pointer; }
.buttons.negative:hover { background-color: #F57A00; }

/* COMMON  
----------------------------------------------------------*/
.full { width: 100%; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.mtop { margin-top: 15px !important; }
.pbottom { padding-bottom: 50px; }

*:focus 
{
    outline: 0;
}