@{ Layout = @"/_layout.cshtml"; }

ArchiveSources: => $"posts/*"
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"index.html" : $"{GetInt("Index")}.html"
ArchivePageSize: => @Constants.PostsPerPage
ArchiveOrderKey: Published
ArchiveOrderDescending: true
HideSidebar: true
Title: => $"{Constants.SiteTitle}"
ArchiveTitle: >
  => $"{Title}{(GetInt("Index") > 1 ? (" (Page " + GetInt("Index") + ")") : null)}"
---
<section class="blog-section">
    <div class="blog-container">
        @Html.Partial($"/_posts.cshtml", Document.GetChildren())
    </div>
</section>
