<footer>
    &copy;
    <script>document.write(new Date().getFullYear())</script>
    🤓
    <a href="https://hoffer.fm">AJ Hoffer</a>
    |
    <a href="https://github.com/dochoffiday">GitHub</a>
    |
    <a href="https://stackoverflow.com/users/234132/dochoffiday">StackOverflow</a>
</footer>