
<base href="/" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="AJ Hoffer is a software engineer living in Lancaster, PA who helps people solve problems" />
<meta name="author" content="AJ Hoffer" />
<title>@Model.GetString("Title")</title>

@Html.Partial("_partials/_favicons")

<link href="assets/css/style.css" rel="stylesheet" />
<link type="application/rss+xml" rel="alternate" title="@Constants.BlogTitle" href=@($"/rss/") />
