@model BC.Models.BC_Post

@{
    ViewBag.Title = Model.Title;
}

<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Pages/post.details.js")"> </script>

<div class="mtop row">
    <div class="twocol">&nbsp;</div>
    <div class="sixcol" style="min-height: 200px;">
        <h2>@Model.Title.ToUpper()</h2>
        <div class="post">
            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="fourcol info last">
        <p>
            @{ Html.RenderAction("Info", "Post", new { post = Model }); }
        </p> 
    </div>
</div>

@if (Model.IsCommentsVisible)
{
    <text>
        @{ Html.RenderAction("List", "Comment", new { post = Model }); }
    </text>
}