@model BC.Models.BC_Page

@{
    ViewBag.Title = Model.Title;
}

<div class="mtop row">
    <div class="onecol">
        &nbsp;
    </div>
    <div class="tencol">
        <h2>@Model.Title.ToUpper()</h2>
        @Html.Raw(Model.Body)
    </div>
    <div class="onecol last">
        &nbsp;
    </div>
</div>

