@model AJ.UtiliTools.SearchResult<BC.Models.BC_Comment>

@{
    Layout = null;
}

<div class="mtop row" name="comments">
    <div class="twocol">
        &nbsp;
    </div>
    <div class="sixcol" id="comment-spacer">
        &nbsp;
    </div>
    <div class="fourcol last">
        &nbsp;
    </div>
</div>

<div id="comments">
    @foreach (var item in Model.Results)
    {
        <text>@{ Html.RenderAction("Details", "Comment", new { comment = item }); }</text>
    }

    @if (Model.Results.Count() == 0 && ViewBag.IsCommentsOpen)
    {
        <div class="mtop row no-print" id="comment-first">
            <div class="twocol">
                &nbsp;
            </div>
            <div class="sixcol">
                <i>be the first to comment</i>
            </div>
            <div class="fourcol last">
                &nbsp;
            </div>
        </div>
    }
</div>

<div class="no-print">
    @if (ViewBag.IsCommentsOpen)
    {
        <text>
            @{ Html.RenderAction("Create", "Comment", new { postID = ViewBag.PostID }); }
        </text>
    }
    else
    {
        <text>
            <div class="mtop row">
                <div class="twocol">
                    &nbsp;
                </div>
                <div class="sixcol">
                    <p>The comments for this post are currently closed.</p>
                </div>
                <div class="fourcol last">
                    &nbsp;
                </div>
            </div>
        </text>
    }
</div>