<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Server=c86a7c13-9b0b-424a-b571-a380004fc949.sqlserver.sequelizer.com;Database=dbc86a7c139b0b424ab571a380004fc949;User ID=cevpiwuieimidszi;Password=BdduiH7ePL57uoadiUWuMTTu56QAqDHLcXDsuHTEmU4Q7Y85tykw5HPRsRxmZEWk;"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=c86a7c13-9b0b-424a-b571-a380004fc949.sqlserver.sequelizer.com;Persist Security Info=True;User ID=cevpiwuieimidszi"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DebugRoutes" value="False"/>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />

    <add key="cookieauthentication.encryptionkey" value="4E2BD1B4332AF2DED464A02F23095F5794019980993A86D0BE9000310A0BF4E7"/>
    <add key="cookieauthentication.validationkey" value="73DEE11E1C29B3E7C0C7CFBE11B1776F6AF66CCD2D7B4DFB7967B3E2DB9E63E975DF13B74170677E2F3670C0D128E92810DF0917A1681F1938B7992EE3EAEF3D"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AppHarbor.Web.Security.CookieAuthenticationModule" type="AppHarbor.Web.Security.CookieAuthenticationModule, AppHarbor.Web.Security" preCondition="integratedMode" />
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
