USE [master]
GO
/****** Object:  Database [dochoffiday-database]    Script Date: 1/8/2020 11:39:38 AM ******/
CREATE DATABASE [dochoffiday-database]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dochoffiday-database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dochoffiday-database]
GO
USE [dochoffiday-database]
GO
/****** Object:  Table [dbo].[BC_Category]    Script Date: 1/8/2020 11:39:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_BC_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_Comment]    Script Date: 1/8/2020 11:39:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[IsUser] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[Url] [nvarchar](256) NULL,
	[Text] [text] NOT NULL,
	[IP] [nvarchar](256) NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_BC_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_Page]    Script Date: 1/8/2020 11:39:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_Page](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Slug] [nvarchar](256) NOT NULL,
	[Body] [text] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[IsPublished] [bit] NOT NULL,
 CONSTRAINT [PK_BC_Page] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_Post]    Script Date: 1/8/2020 11:39:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Slug] [nvarchar](256) NOT NULL,
	[Body] [text] NOT NULL,
	[IsCommentsVisible] [bit] NOT NULL,
	[IsCommentsOpen] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[PublishDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BC_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_Tag]    Script Date: 1/8/2020 11:39:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_BC_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_User]    Script Date: 1/8/2020 11:39:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_BC_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BC_Comment]  WITH CHECK ADD  CONSTRAINT [FK_BC_Comment_BC_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[BC_Post] ([PostID])
GO
ALTER TABLE [dbo].[BC_Comment] CHECK CONSTRAINT [FK_BC_Comment_BC_Post]
GO
ALTER TABLE [dbo].[BC_Post]  WITH CHECK ADD  CONSTRAINT [FK_BC_Post_BC_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BC_Category] ([CategoryID])
GO
ALTER TABLE [dbo].[BC_Post] CHECK CONSTRAINT [FK_BC_Post_BC_Category]
GO
ALTER TABLE [dbo].[BC_Tag]  WITH CHECK ADD  CONSTRAINT [FK_BC_Tag_BC_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[BC_Post] ([PostID])
GO
ALTER TABLE [dbo].[BC_Tag] CHECK CONSTRAINT [FK_BC_Tag_BC_Post]
GO
USE [master]
GO
